<div>
  <img src="/assets/editwow.webp" alt="Photo of Jesús in a waterfall">
  <p>
    Hi, I'm <strong>Jesus</strong>. I'm a software engineer and web developer based in Ciudad Valles.
    You can follow me on <a href="https://www.twitter.com/" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/" target="_blank">GitHub</a>,
    or read more about this template on <a href="https://www.maxiferreira.com" target="_blank">this website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
