<style>
  img {
    display: block;
    width: 50px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="Blog Logo" src="/assets/database.png" width="50" height="25" />
</a>
